.feed-scroll {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
  }
  
  .feed-scroll::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }